{% extends 'base.html.twig' %}

{% block title %}Register new api user{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<h3>Register new api user</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-6 offset-3">

			{{ form(form, {'action': path('user_create'), 'method': 'POST'}) }}

		</div>
	</div>
</div>
{% endblock %}
